@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  body {
    color: #64748b !important;
    font-family: Poppins, ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  }
  .wrapper {
    display: flex;
    flex-direction: row;
    align-items: stretch;
  }
  .wrapper .left-sidebar {
    width: 100%;
    min-width: calc(0.25rem * 16);
    max-width: calc(0.25rem * 64);
    transition: max-width 0.25s ease-in-out;
    --tw-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -4px rgba(0, 0, 0, 0.1);
    --tw-shadow-colored: 0 10px 15px -3px var(--tw-shadow-color), 0 4px 6px -4px var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
  }
  .wrapper .main {
    min-width: calc(100% - (0.25rem * 64));
    display: flex;
    flex-direction: column;
  }
  .logo {
    display: flex;
    height: 4rem;
    width: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    white-space: nowrap;
    padding-left: 1rem;
    font-size: 1rem;
    line-height: 1.5rem;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    max-width: calc(0.25rem * 64);
    --tw-text-opacity: 1;
    color: rgb(59 130 246 / var(--tw-text-opacity));
  }
  .left-sidebar-title {
    position: relative;
    display: flex;
    height: 4rem;
    width: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding-left: 1rem;
    padding-right: 1rem;
    font-size: 0.75rem;
    line-height: 1rem;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.05em;
  }
  .left-sidebar-item {
    position: relative;
    display: flex;
    height: 2.5rem;
    width: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    min-width: calc(0.25rem * 16);
    max-width: calc(0.25rem * 64);
    width: calc(0.25rem * 64);
  }

  .form-element {
    @apply bg-white border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full px-4 py-3;
  }
  .form-button {
    @apply rounded-lg mt-10 h-10 w-full bg-blue-500 font-medium text-white;
  }

  @media ((max-width: 767px)) {
    .wrapper .left-sidebar {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      z-index: 10;
      height: 100%;
      width: 16rem;
      transition-property: transform;
      transition-duration: 0.3s;
      transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }
    .wrapper .main {
      z-index: 0;
      display: flex;
      width: 100%;
      flex-direction: column;
    }
    .wrapper .left-sidebar-close {
      --tw-translate-x: -16rem;
      transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
    }
    .wrapper .left-sidebar-open {
      --tw-translate-x: 0px;
      transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
    }
  }
}
